## EJERCICIO 1: Transformar Cadenas

#### Texto de ejemplo:

text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

#### Primero, divide el texto en cada oracion para trabajar con su contenido

In [7]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

text.split(".")

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

#### Definir palabras claves: Luna

In [15]:
text_a_buscar='temperature'

#### Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [16]:
# Ciclo for para recorrer la cadena
for i in text.split("."):
    if text_a_buscar in i.lower():
        print(i)

 The highest daylight temperature of the Moon is 127 C

#### Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [17]:
# Ciclo para cambiar C a Celsius
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_a_buscar="moon"
for i in text.split("."):
    if text_a_buscar in i.lower():
        if i.endswith("C"):
            i=i.replace('C','Celcius')

        print(i)

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celcius

# EJERCICIO 2: Formateando Cadenas

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [44]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [46]:
# Creamos el título
title="Gravity on the {name} and {planet}".format(name=name,planet=planet) # título
print(title)

Gravity on the Moon and Earth

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [47]:
gravity=round(gravity*1000,2)

# Creamos la plantilla
template="""
-------------------------------------------------------------------------------
Planet Name: {name}
Gravity on Moon: {gravity} metros.
""".format(name=name,gravity=gravity)

print(template)

-------------------------------------------------------------------------------
Planet Name: Moon
Gravity on Moon: 1.62 metros.

Finalmente, usa ambas variables para unir el título y los hechos.

In [48]:
# Unión de ambas cadenas
main_template=""""
{title}
{template}
""".format(title=title,template=template)

print(main_template)

"
Gravity on the Moon and Earth

-------------------------------------------------------------------------------
Planet Name: Moon
Gravity on Moon: 1.62 metros.

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [40]:

# Comprueba la plantilla
# print(nombre_plantilla)

# Datos con los que vas a trabajar
name = "Ganímedes"
gravity = 0.00143 # in kms
planet = "Marte"

# Creamos el título
title="Gravity on the {name} and {planet}".format(name=name,planet=planet) # título

gravity=round(gravity*1000,2)

# Creamos la plantilla
template="""
-------------------------------------------------------------------------------
Planet Name: {name}
Gravity on Moon: {gravity} metros.
""".format(name=name,gravity=gravity)

# Unión de ambas cadenas
main_template=""""
{title}
{template}
""".format(title=title,template=template)

print(main_template)

"
Gravity on the Ganímedes and Marte

-------------------------------------------------------------------------------
Planet Name: Ganímedes
Gravity on Moon: 1.43 metros.